/* Global Styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Tombol Kembali */
.back-button-container {
  text-align: center;
  margin-top: 2rem;
}

.back-button {
  display: inline-block;
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #b88205;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.back-button:hover {
  background-color: #000000;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.donation-container {
  width: 90%;
  max-width: 800px;
  background-color: #000000;
  border: 3px solid #fdc73e;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Header */
.header {
  padding: 2rem;
  background-color: #fbc640;
  color: #000000;
}

.header .back-button-container {
  display: flex;
  top: 0.5rem;
}

.header .tagline {
  text-align: center;
}

.header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.header h1 a {
  font-style: italic;
  font-weight: bold;
}

.header h1 span {
  color: #ffffff;
}

.header span {
  color: #000000;
  font-weight: 700;
}

.header p {
  margin: 1rem 0 0;
  font-size: 1.2rem;
  font-weight: 400;
}

/* Main Content */
.main-content {
  padding: 2rem;
}

.donation-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.donation-info {
  text-align: center;
}

.donation-info h2 {
  font-size: 2rem;
  color: #fdc73e;
  margin-bottom: 1rem;
}

.account {
  margin: 1.5rem 0;
  padding: 1.5rem;
  background: rgba(253, 199, 62, 0.1);
  border: 1px solid #fdc73e;
  border-radius: 10px;
  text-align: left;
}

.BCA-img {
  max-width: 100px; /* Atur ukuran maksimum */
  height: auto; /* Proporsi gambar tetap */
  margin-left: 10px; /* Jarak dari teks */
}
.account h3 {
  color: #fdc73e;
  margin-bottom: 0.5rem;
}

.account p {
  margin: 0.3rem 0;
  font-size: 1rem;
}

/* Footer */
.footer {
  text-align: center;
  padding: 1rem;
  background-color: #fdc73e;
  color: #000000;
  font-weight: 500;
  border-top: 3px solid #fdc73e;
}
